# From johnnesky/beepbox
.dropbox
.DS_Store
/website/beepbox*.js
/website/beepbox*.js.map
/website/player/beepbox*.js
/website/player/beepbox*.js.map
/website/player/beepbox*.js
/website/player/beepbox*.js.map
/website/competition/**/beepbox*.js
/website/competition/**/beepbox*.js.map
/website/beepbox_offline.html
/build
/node_modules

# From Neutralino base project
# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
